# Ambiente virtual
.venv/

# VS Code
.vscode/

# Cache do Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Dados brutos (não estão no GitHub)
DATA/raw/
data/raw/

# Dados tratados
DATA/cleaned/
